body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  color: #272a31;
  overflow-x: hidden;
  background-image: url("./assets//images/Website-background.png");
}

.first-heading {
  font-size: 30px;
  font-weight: 700;
  color: #ec5242;
}

.second-heading {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 55px;
  font-family: sans-serif;
  background-image:
    linear-gradient(
      rgba(255, 38, 0, 0.76),
      rgba(255, 51, 0, 0.575)
    ),
    url("./assets//images/it.jpg");
  color: transparent;
  -webkit-background-clip: text;
  font-size: 45px;
}

.text {
  background-color: #f5f5f5;
  border: #d3d3d3 1px solid;
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #272a31;
}

.date {
  font-size: 30px;
  color: #272a31;
  font-weight: 900;
  font-family: sans-serif;
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  color: white;
  background-image: url(./assets/images/program-bg.jpg);
}

hr {
  width: 80px;
  height: 2px;
  background-color: #ec5242;
  border: none;
}

.box {
  border: #d3d3d3 2px solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
}

.box-heading {
  color: #ec5242;
}

.join-button {
  width: 70%;
  height: 13vh;
  background-color: #ec5242;
  color: white;
  font-size: 20px;
  border: none;
  margin: 10px 0 50px 0;
}

.join-button:hover {
  background-color: white;
  color: #ec5242;
}

.nav-links li {
  list-style: none;
  font-family: "Lato", sans-serif;
}

.about-main-heding {
  background-color: white;
  margin: -18px 0 -8px 0;
}

.about-section {
  text-align: center;
}

.second-heading2 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: sans-serif;
  color: rgba(255, 38, 0, 0.76);
  font-size: 45px;
}

.paragraph1 {
  color: #272a31;
  background-color: white;
  border: #d3d3d3 1px solid;
  padding: 20px;
}

.abot-div3 {
  background-color: white;
  padding: 20px;
}

h5 {
  font-size: 35px;
  margin-bottom: -5px;
  text-align: center;
}

.bos-paragraph {
  text-align: center;
}

.small-head {
  font-size: 14px;
  font-weight: 500;
  color: #ec5242;
  margin-top: -15px;
}

.past-summit-overlay {
  position: absolute;
  background-color: rgba(255, 38, 0, 0.56);
  height: 50vh;
  color: white;
}

.past-summit-overlay-title {
  padding-top: 80px;
}

.events-pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.past-pictrs {
  width: 100%;
  height: 50vh;
}

.part1 {
  width: 80%;
}

.speaker-image {
  width: 100%;
  height: 150px;
  z-index: 5;
  position: relative;
  top: -40px;
  bottom: 0;
  left: 20px;
}

.paterners {
  margin-top: -60px;
  background-color: #272a31;
  color: white;
  margin-bottom: -6px;
}

footer {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 40px;
}

.horizontal {
  width: 25px;
  margin: -10px 0 0 0;
  background-color: #d3d3d3;
}

.main-p {
  color: #272a31;
  font-size: 15px;
}

.logo-image {
  width: 80px;
  height: 80px;
}

.about {
  background-color: white;
  padding: 20px;
}

.maincontainerdiv {
  width: 80%;
  margin: auto;
}

.about-logo {
  border: #d3d3d3 solid;
  width: 60%;
  margin: auto;
}

h6 {
  display: none;
}

.email {
  text-decoration: underline;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .before-nav {
    display: none;
  }

  .box {
    gap: 20px;
    margin: 20px;
  }

  .logo {
    display: none;
  }

  .burger {
    padding: 10%;
    cursor: pointer;
  }

  .line {
    display: block;
    width: 25px;
    height: 4px;
    margin: 0 0 5px 0;
    background-color: #d3d3d3;
  }

  .fa-xmark {
    color: white;
    float: right;
    font-size: 25px;
    margin: 5% 10%;
  }

  .nav-links {
    width: 100%;
    height: 100vh;
    background: #ec5242;
    opacity: 0.97;
    top: 0;
    margin: 0;
    position: fixed;
    transition: 1s;
    left: -100%;
  }

  .desktop-navlinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .nav-links a {
    font-size: 40px;
    text-decoration: none;
    color: white;
  }

  .introduction {
    padding: 50px 20px;
  }

  .maincontainerdiv {
    display: flex;
    gap: 40px;
  }

  .p-head {
    text-align: center;
    padding: 0 0 0 4rem;
  }

  .see-button {
    width: 90%;
    height: 40px;
    margin: 23px;
    font-size: 20px;
    background-color: white;
    border: #d3d3d3 1px solid;
  }

  .fa-chevron-down {
    color: #ec5242;
  }

  .past-summit-overlay {
    width: 23.99rem;
  }

  .button {
    width: 100%;
    background-color: white;
  }

  .patteners-imglogo {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: auto;
    padding: 20px;
  }

  .patterners-logo {
    width: 80px;
  }

  .about-logoimg {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo a {
    text-decoration: none;
    color: #272a31;
  }

  .fa-xmark {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .before-nav {
    width: 100%;
    background-color: #272a31;
    margin-top: -16px;
  }

  .before-nav-content {
    height: 40px;
    color: #d3d3d3;
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    gap: 20px;
    align-items: center;
  }

  .before-nav li {
    list-style: none;
  }

  .before-nav li:hover {
    color: #ec5242;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: -16px;
    height: 60px;
  }

  .desktop-navlinks {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .nav-links a {
    text-decoration: none;
    color: #272a31;
  }

  .nav-links a:hover {
    color: #ec5242;
  }

  .nav-button {
    border: #ec5242 2px solid;
    background-color: white;
    color: #ec5242;
    padding: 10px;
    font-size: 18px;
  }

  .nav-button:hover {
    background-color: #ec5242;
    color: white;
  }

  .introduction {
    margin: 8%;
  }

  .text {
    width: 60%;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    height: 15%;
    border: none;
    padding: 20px;
    margin: 2px;
  }

  .box:hover {
    border: #d3d3d3 solid;
  }

  .main-container {
    display: flex;
    gap: 10px;
  }

  .maincontainerdiv {
    display: flex;
    gap: 40px;
  }

  .p-head {
    padding: 0 0 0 35rem;
  }

  .see-button {
    display: none;
  }

  .paragraph1 {
    width: 80%;
    margin: auto;
  }

  .events-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .past-summit-overlay {
    width: 450px;
  }

  .about {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .patteners-imglogo {
    display: flex;
    gap: 60px;
    width: 40%;
    padding: 10px;
    margin: auto;
  }

  .patterners-logo {
    width: 150px;
  }
}
